/* --------------- LAYOUT & GRID RULES ---------------*/

  /* Component width is 100% */
  .intro,
  .featured-blog-list {
    width: 100%;
    padding: 0;
  }

/* --------------- BORDER RULES --------------- */

header,
.intro, 
.website-description,
.featured, .featured-blog {
  border-bottom: 0.2rem solid black;
}

.intro {
  border-top: 0.2rem solid black;
}

/* --------------- HEADER RULES -------------*/

header {
  height: 8rem;
}

/* --------------- NAV RULES ---------------*/

/* Logo size in rem*/
.logo img {
  height: 8rem;
  width: 8rem;
}

/* --------------- INTRO RULES ---------------*/

.intro {
    margin-top: 8rem;
}

.website-description {
  background: grey;
  height: 40rem;
}

/* --------------- BLOG RULES ---------------*/


.blog-reference {
  font-size: 4rem;
  height: 100%;
  background: yellow;
}

.blog-summary p,
.blog-summary a {
  display: none;
}

/* --------------- FOOTER RULES ---------------*/

footer {
  height: 8rem;
}

/* --------------- FOOTER RULES ---------------*/



/* --------------- MEDIA QUERIES RULES ---------------*/

@media (min-width: 550px) {

  /* Change menu*/
  .logo {
    position: relative;
    top: 4rem;
    overflow: visible;
  }

  /* Add margins*/
  .featured-blog, 
  .intro {
    margin-bottom: 4rem;
  }

  .intro,
  .featured-blog-list {
    width: 80%;
    padding: 0;
  }

  /* Unhide*/
  .blog-summary p,
  .blog-summary a {
    display: block;
  } 

  /* Change borders*/
  
  header,
  .intro, 
  .featured, .featured-blog {
    border: 0.2rem solid black;
  }

  .website-description {
    border-top: none;
    border-bottom: none;
  }

  .featured {
    border: none;
  }

  footer {
    border-top: 0.2rem solid black;
  }

}
