/* --------------- LAYOUT & GRID RULES ---------------*/

  /* Component width is 100% */
  .intro,
  .featured-blog-list {
    width: 100%;
    padding: 0;
  }

header.container, 
footer.container {
  width: 100%;
}

.featured-blog {
  display: flex;
  flex-direction: column;
}

/* --------------- BORDER RULES --------------- */

header,
.intro, 
.website-description,
.featured, .featured-blog {
  border-bottom: 0.2rem solid black;
}

.intro {
  border-top: 0.2rem solid black;
}


/* --------------- NAV RULES ---------------*/

/* Logo size in rem*/
.logo img {
  height: 8rem;
  width: 8rem;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.nav div {
  margin: 0 1rem;
  padding: 0.2rem 0;
  text-align: center;
}

.logo {
  position: relative;
}

.logo img {
    position: absolute;
    bottom: -3.5rem;
    left: 1rem;
  }

/* --------------- INTRO RULES ---------------*/

.intro {
    margin-top: 8rem;
}

.website-description {
  background: grey;
  height: 40rem;
}

/* --------------- BLOG RULES ---------------*/


.blog-reference {
  font-size: 4rem;
  height: 100%;
  background: yellow;
}

.blog-summary p,
.blog-summary a {
  display: none;
}

/* --------------- FOOTER RULES ---------------*/

footer {
  height: 8rem;
}


/* --------------- MEDIA QUERIES RULES ---------------*/

@media (min-width: 550px) {

  /* Change order */

  .featured-blog {
    flex-direction: row;
  }

  .featured-blog.even .blog-reference {
    order: 2;
  }

  /* Change nav bar*/

  .nav {
    flex-direction: row;
  }

  .nav div {
    padding: 3rem 0;
  }

  .logo img {
    position: absolute;
    left: 0;
    bottom: -4.2rem;
  }

  /* Add margins*/
  .featured-blog, 
  .intro {
    margin-bottom: 4rem;
  }

  .intro,
  .featured-blog-list {
    width: 80%;
    padding: 0;
  }

  /* Unhide*/
  .blog-summary p,
  .blog-summary a {
    display: block;
  } 

  /* Change borders*/
  
  .intro, 
  .featured, .featured-blog {
    border: 0.2rem solid black;
  }

  .website-description {
    border-top: none;
    border-bottom: none;
  }

  .featured {
    border: none;
  }

  footer {
    border-top: 0.2rem solid black;
  }

}
